<app-innerheader></app-innerheader>
<div id="main">
  <section class="header-title">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>237 Dallas, TX Caters</h1>
          <p>Discover all the flavors Dallas has to offer. Order catering online from 378 local restaurants who can
            deliver to your meeting or event. Select a restaurant, view their menu, build and submit your order, and
            we’ll handle the rest. No upcharges or cancellation fees.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="filters">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="" method="" class="form-inline">
            <label>Order</label>
            <select class="custom-select">
              <option selected>Delivery</option>
            </select>
            <label>Delivery Address</label>
            <select class="custom-select">
              <option selected>Dallas, TX</option>
            </select>
            <label>When</label>
            <input type="date" name="" placeholder="Add event Date">
            <label>Serving</label>
            <select class="custom-select">
              <option selected>Total Head Count</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="inner-search">
    <div class="container">
      <div class="row">
        <div class="col-md-3 sidebar">
          <div class="food-cat side-widget">
            <h4>All Cusines</h4>
            <ul>
              <li><a href="#" class="flaticon-egg">Breakfast</a></li>
              <li><a href="#" class="flaticon-sandwich">Sandwiches</a></li>
              <li><a href="#" class="flaticon-buffet">Hot Catering</a></li>
              <li><a href="#" class="flaticon-fast-food">Mexican</a></li>
              <li><a href="#" class="flaticon-pizza">Pizza</a></li>
              <li><a href="#" class="flaticon-turkey">Chicken</a></li>
              <li class="more"><a href="#">More <i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="side-search side-widget">
            <h4>Search</h4>
            <form>
              <input type="text" name="" placeholder="Cater, Cusine etc" class="form-control">
            </form>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <ul class="search-cont">
              <li>
                <figure>
                  <a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
                </figure>
                <div class="s-cont-desc">
                  <a href="#">
                    <h4>Hooter Restaurant Bar</h4>
                  </a>
                  <div class="row">
                    <div class="cont-spec">
                      Slow smoked - Served fast - 4 mi - $$$$
                    </div>
                    <div class="cont-rev">
                      <div class="star-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="rating">
                        <span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ord-spec-row">
                    <div class="ord-spec">
                      <strong>$100</strong> Minimum
                    </div>
                    <div class="ord-spec">
                      <strong>$25</strong> Delivery fee
                    </div>
                    <div class="ord-spec">
                      <strong>99%</strong> On time
                    </div>
                  </div>
                  <div class="row">
                    <a href="#" class="ord-btn">Request Order</a>
                  </div>
                </div>
              </li>
              <li>
                <figure>
                  <a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
                </figure>
                <div class="s-cont-desc">
                  <a href="#">
                    <h4>Hooter Restaurant Bar</h4>
                  </a>
                  <div class="row">
                    <div class="cont-spec">
                      Slow smoked - Served fast - 4 mi - $$$$
                    </div>
                    <div class="cont-rev">
                      <div class="star-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="rating">
                        <span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ord-spec-row">
                    <div class="ord-spec">
                      <strong>$100</strong> Minimum
                    </div>
                    <div class="ord-spec">
                      <strong>$25</strong> Delivery fee
                    </div>
                    <div class="ord-spec">
                      <strong>99%</strong> On time
                    </div>
                  </div>
                  <div class="row">
                    <a href="#" class="ord-btn">Request Order</a>
                  </div>
                </div>
              </li>
              <li>
                <figure>
                  <a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
                </figure>
                <div class="s-cont-desc">
                  <a href="#">
                    <h4>Hooter Restaurant Bar</h4>
                  </a>
                  <div class="row">
                    <div class="cont-spec">
                      Slow smoked - Served fast - 4 mi - $$$$
                    </div>
                    <div class="cont-rev">
                      <div class="star-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="rating">
                        <span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ord-spec-row">
                    <div class="ord-spec">
                      <strong>$100</strong> Minimum
                    </div>
                    <div class="ord-spec">
                      <strong>$25</strong> Delivery fee
                    </div>
                    <div class="ord-spec">
                      <strong>99%</strong> On time
                    </div>
                  </div>
                  <div class="row">
                    <a href="#" class="ord-btn">Request Order</a>
                  </div>
                </div>
              </li>
              <li>
                <figure>
                  <a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
                </figure>
                <div class="s-cont-desc">
                  <a href="#">
                    <h4>Hooter Restaurant Bar</h4>
                  </a>
                  <div class="row">
                    <div class="cont-spec">
                      Slow smoked - Served fast - 4 mi - $$$$
                    </div>
                    <div class="cont-rev">
                      <div class="star-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="rating">
                        <span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ord-spec-row">
                    <div class="ord-spec">
                      <strong>$100</strong> Minimum
                    </div>
                    <div class="ord-spec">
                      <strong>$25</strong> Delivery fee
                    </div>
                    <div class="ord-spec">
                      <strong>99%</strong> On time
                    </div>
                  </div>
                  <div class="row">
                    <a href="#" class="ord-btn">Request Order</a>
                  </div>
                </div>
              </li>
              <li>
                <figure>
                  <a href="#"><img src="assets/images/hooter-small.jpg" alt=""></a>
                </figure>
                <div class="s-cont-desc">
                  <a href="#">
                    <h4>Hooter Restaurant Bar</h4>
                  </a>
                  <div class="row">
                    <div class="cont-spec">
                      Slow smoked - Served fast - 4 mi - $$$$
                    </div>
                    <div class="cont-rev">
                      <div class="star-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                      </div>
                      <div class="rating">
                        <span>(4.0)</span><span><a href="#">(320 Reviews)</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="row ord-spec-row">
                    <div class="ord-spec">
                      <strong>$100</strong> Minimum
                    </div>
                    <div class="ord-spec">
                      <strong>$25</strong> Delivery fee
                    </div>
                    <div class="ord-spec">
                      <strong>99%</strong> On time
                    </div>
                  </div>
                  <div class="row">
                    <a href="#" class="ord-btn">Request Order</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="row justify-content-center">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left"
                    aria-hidden="true"></i></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right"
                    aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div class="row justify-content-center">
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">United States</a></li>
              <li class="breadcrumb-item"><a href="#">Dallas</a></li>
              <li class="breadcrumb-item"><a href="#">Texas</a></li>
              <li class="breadcrumb-item active">Search Results</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="heading clr-white">Now Available</h3>
          <h4 class="head-sm clr-white">Download our CaterDaay App Today</h4>
        </div>
        <div class="col-md-6 text-right">
          <a href="#"><img src="assets/images/apple.png" alt=""></a>
          <a href="#"><img src="assets/images/google.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>


</div>
<app-inner-footer></app-inner-footer>