<app-header></app-header>
<div id="main">
  <section>
    <div class="slider">
      <div class="slide slide1 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center">
              <h4 appScrollEnterance anim="fade" delay="1000">Feed Your Guest with Professional Caters</h4>
              <form class="form-inline">
                <select class="custom-select">
                  <option selected>Select Your City</option>
                </select>
                <select class="custom-select b-rite">
                  <option selected>Select Your Cusine</option>
                </select>
                <input class="btn" (click)="navigateToListing('city','halaal')" value="SEARCH">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-grey pt-3 pb-3">
      <div class="container">
        <div class="logo-slider">
          <div class="logos">
            <figure>
              <img src="assets/images/wedding-parties-updated.png">
              <figcaption>Wedding<br>Parties</figcaption>
            </figure>
          </div>
          <div class="logos">
            <figure>
              <img src="assets/images/corporate-functions-updated.png">
              <figcaption>Corporate<br>Functions</figcaption>
            </figure>
          </div>
          <div class="logos">
            <figure>
              <img src="assets/images/birthday-parties-updated.png">
              <figcaption>Birthday<br>Parties</figcaption>
            </figure>
          </div>
          <div class="logos">
            <figure>
              <img src="assets/images/famlily-dinner-updated.png">
              <figcaption>Family<br>Dinner</figcaption>
            </figure>
          </div>
          <div class="logos">
            <figure>
              <img src="assets/images/office-food-updated.png">
              <figcaption>Office<br>Food</figcaption>
            </figure>
          </div>
          <div class="logos">
            <figure>
              <img src="assets/images/wedding-parties-updated.png">
              <figcaption>Wedding<br>Parties</figcaption>
            </figure>
          </div>
        </div>
      </div>
    </section>

  <section id="about" class="pt-5 pb-5 abt-sec">
    <img src="assets/images/abt.png" alt="" class="abt-img" appScrollEnterance anim="from-right">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <h4 appScrollEnterance anim="from-left">Irresistible & Delicious Food<br><span class="clr-red">Savor the
              Moment with
              Best
              Cuisines</span></h4>
          <p appScrollEnterance anim="from-left">Caterdaay is all about bringing the best choices of favorite cuisines
            at your
            doorstep. Acquire the most exquisite food delivering services near your area that promises to provide a
            unique
            experience, affectionately. From weddings, events to dinners and parties, share food love with your loved
            ones
            to savor the moments without any hassle. </p>
          <h4 appScrollEnterance anim="from-left">Save Time and Hassle<br><span class="clr-red">We Make Your Job
              Easier</span>
          </h4>
          <p appScrollEnterance anim="from-left">Order food online from the exclusive range of cuisines, restaurants,
            and places
            you
            admire. Add your favorite dishes to cart as Caterdaay is one –stop solution for your all cravings and
            catering
            services required on a day-to-day basis. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="hworks pb-5 pt-5 mt-5">
      <img src="assets/images/refer-friend.png" alt="" class="brgr" data-entrance="from-right">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-12">
             <h3 class="heading clr-white" data-entrance="from-left">We value friendship.<br>Earn $10 for every friend</h3>
             <p class="clr-white" data-entrance="from-left">when you introduce your friends to place their first order</p>
             <a href="earn.php" class="btn ref-btn">Refer a Friend</a>
          </div>
        </div>
      </div>
    </section>

    <section class="pt-5 pb-5 flag-sec">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h3 class="heading " data-entrance="from-bottom">The only worldwide network <br>for catering.</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <img src="assets/images/flags-up.jpg" class="img-fluid"> 
            </div>
          </div>
        </div>
      </section>
      
      <section class="pt-5 pb-5 foodtype-sec">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h3 class="heading " data-entrance="from-bottom">Food Types</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="food-types">
                <li><a href="#">Kosher</a></li>
                <li><a href="#">Arabian</a></li>
                <li><a href="#">Halal</a></li>
                <li><a href="#">Indian</a></li>
                <li><a href="#">Pakistani</a></li>
                <li><a href="#">Chinese</a></li>
                <li><a href="#">Mexican</a></li>
                <li><a href="#">Japanese</a></li>
                <li><a href="#">Greek</a></li>
                <li><a href="#">Thai</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>

  <section class="pt-5 pb-5 counter-sec">
          <div class="container">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <img src="assets/images/satisfied.png" alt="">
                    <p class="count-text ">Satisfied Customer</p>
                    <h4 class="timer count-title count-number" data-to="500" data-speed="1500"></h4>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <img src="assets/images/on-board-caters.png" alt="">
                    <p class="count-text ">On Board Caters</p>
                    <h4 class="timer count-title count-number" data-to="50" data-speed="1500"></h4>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <img src="assets/images/served-location.png" alt="">
                    <p class="count-text ">Served Locations</p>
                    <h4 class="timer count-title count-number" data-to="100" data-speed="1500"></h4>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="counter">
                    <img src="assets/images/reviews.png" alt="">
                    <p class="count-text ">Reviews</p>
                    <h4 class="timer count-title count-number" data-to="600" data-speed="1500"></h4>
                  </div>
              </div>
            </div>
          </div>
  </section>
  <app-testimonials>
  </app-testimonials>
  <!-- <section class="cta">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="heading clr-white">Now Available</h3>
          <h4 class="head-sm clr-white">Download our CaterDaay App Today</h4>
        </div>
        <div class="col-md-6 text-right">
          <a href="#"><img src="assets/images/apple.png" alt=""></a>
          <a href="#"><img src="assets/images/google.png" alt=""></a>
        </div>
      </div>
    </div>
  </section> -->
  <section class="pb-5 pt-5 services">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h3 class="heading" data-entrance="from-bottom">How Can <span class="clr-green font-h">Caterdaay</span> Work For You?</h3>
            <p data-entrance="from-bottom"><strong class="clr-red">Creative. Delightful & On-Time Food Catering Services</strong></p>
            <p data-entrance="from-bottom">Caterdaay is all about getting foods in hand without any hassle. From delicious food items to the wedding, parties catering, we offer a variety of food delivering services that reach right from the kitchen of masterchef</p>
          </div>
        </div>	
        <div class="row mb-5 work-slider">
          <div class="work-slide">
            <div class="row service serv-1" data-entrance="from-bottom">
              <div class="col-12">
                <h4>Caterers</h4>
                <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
                <a href="#">Signup</a>
              </div>
            </div>
          </div>
          <div class="work-slide">
            <div class="row service serv-2" data-entrance="from-bottom">
              <div class="col-12">
                <h4>Driver</h4>
                <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
                <a href="driver-signup.php">Signup</a>
              </div>
            </div>
          </div>
          <div class="work-slide">
            <div class="row service serv-3" data-entrance="from-bottom">
              <div class="col-12">
                <h4>Waiter</h4>
                <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
                <a href="#">Signup</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

</div>
<app-footer></app-footer>