<app-header></app-header>
<div id="main">
  <section>
    <div class="slider">
      <div class="slide slide1 d-flex align-items-center">
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center">
              <h4 appScrollEnterance anim="fade" delay="1000">Feed Your Guest with Professional Caters</h4>
              <form class="form-inline">
                <select class="custom-select">
                  <option selected>Select Your City</option>
                </select>
                <select class="custom-select b-rite">
                  <option selected>Select Your Cusine</option>
                </select>
                <input class="btn" (click)="navigateToListing('city','halaal')" value="SEARCH">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-grey pt-3 pb-3">
    <div class="container">
      <div class="logo-slider">
        <div class="logos">
          <img src="assets/images/wedding-parties.png">
        </div>
        <div class="logos">
          <img src="assets/images/corporate-functions.png">
        </div>
        <div class="logos">
          <img src="assets/images/birthday-parties.png">
        </div>
        <div class="logos">
          <img src="assets/images/famlily-dinner.png">
        </div>
        <div class="logos">
          <img src="assets/images/office-food.png">
        </div>
        <div class="logos">
          <img src="assets/images/wedding-parties.png">
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="pt-5 pb-5 abt-sec">
    <img src="assets/images/abt.png" alt="" class="abt-img" appScrollEnterance anim="from-right">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12">
          <h4 appScrollEnterance anim="from-left">Irresistible & Delicious Food<br><span class="clr-red">Savor the
              Moment with
              Best
              Cuisines</span></h4>
          <p appScrollEnterance anim="from-left">Caterdaay is all about bringing the best choices of favorite cuisines
            at your
            doorstep. Acquire the most exquisite food delivering services near your area that promises to provide a
            unique
            experience, affectionately. From weddings, events to dinners and parties, share food love with your loved
            ones
            to savor the moments without any hassle. </p>
          <h4 appScrollEnterance anim="from-left">Save Time and Hassle<br><span class="clr-red">We Make Your Job
              Easier</span>
          </h4>
          <p appScrollEnterance anim="from-left">Order food online from the exclusive range of cuisines, restaurants,
            and places
            you
            admire. Add your favorite dishes to cart as Caterdaay is one –stop solution for your all cravings and
            catering
            services required on a day-to-day basis. </p>
        </div>
      </div>
    </div>
  </section>

  <section class="hworks pb-5 pt-5">
    <img src="assets/images/kitchen.png" alt="" class="brgr" appScrollEnterance anim="from-right">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h3 class="heading clr-white" appScrollEnterance anim="from-left">How it works</h3>
          <p class="clr-white" appScrollEnterance anim="from-left">Either you are looking for catering services for
            wedding,
            corporate meetings, events or even seminars search your area and type food in search bar along with the
            required details then sit back and relax to savor your food on time without any delay.</p>
          <ul class="work-list">
            <li appScrollEnterance anim="from-bottom">
              <i class="flaticon-salad"></i>
              <div class="work-desc">
                <h5>Discover Dishes & meal plans in your area</h5>
                <p>Select from a variety of available meal plans and discover items that are freshly made to maximize
                  your
                  experiences.</p>
              </div>
            </li>
            <li appScrollEnterance anim="from-bottom">
              <i class="flaticon-fast-food"></i>
              <div class="work-desc">
                <h5>Add to Cart & Order</h5>
                <p>Simply add to cart food you are craving and get deals into the bucket to place an order whenever and
                  wherever you want.</p>
              </div>
            </li>
            <li appScrollEnterance anim="from-bottom">
              <i class="flaticon-shopping-cart"></i>
              <div class="work-desc">
                <h5>Enjoy your fresh, home cooked meal</h5>
                <p>From restaurants to top master chef special items, get anything as per your budget and time and enjoy
                  freshly prepared food from best caters.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </section>

  <section class="pt-5 pb-5 deals-sec">
    <div class="container">
      <div class="row pb-5">
        <div class="col-12 text-center">
          <h3 class="heading " appScrollEnterance anim="from-bottom">Hot Deals</h3>
          <p appScrollEnterance anim="from-bottom">Wanting to throw a memorable party?<br>Grasp the delicious food with
            Hot Deals
            near your area and make every bit count! From fast food to corporate lunch discounts avail all at one place
            only on CaterDaay. </p>
        </div>
      </div>
      <div class="row deals-slider">
        <div class="deals">
          <img src="assets/images/deal-1.jpg" alt="">
          <a href="#" class="deal-btn">Click Here</a>
        </div>
        <div class="deals">
          <img src="assets/images/deal-2.jpg" alt="">
          <a href="#" class="deal-btn">Click Here</a>
        </div>
        <div class="deals">
          <img src="assets/images/deal-3.jpg" alt="">
          <a href="#" class="deal-btn">Click Here</a>
        </div>
        <div class="deals">
          <img src="assets/images/deal-1.jpg" alt="">
          <a href="#" class="deal-btn">Click Here</a>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-5 pb-5 test-sec">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="heading clr-white" appScrollEnterance anim="from-top">Testimonials</h3>
        </div>
      </div>
      <div class="row test-slider">
        <div class="testimonial">

          <div class="test-desc">
            <h4>Robert Smith</h4>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look
              and
              feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely
              disappointed.
            </p>
          </div>
        </div>
        <div class="testimonial">

          <div class="test-desc">
            <h4>Robert Smith1</h4>
            <p>This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look
              and
              feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely
              disappointed.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cta">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="heading clr-white">Now Available</h3>
          <h4 class="head-sm clr-white">Download our CaterDaay App Today</h4>
        </div>
        <div class="col-md-6 text-right">
          <a href="#"><img src="assets/images/apple.png" alt=""></a>
          <a href="#"><img src="assets/images/google.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>
  <section class="pb-5 pt-5 services">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h3 class="heading" appScrollEnterance anim="from-bottom">How Can <span
              class="clr-green font-h">Caterdaay</span> Work
            For
            You?</h3>
          <p appScrollEnterance anim="from-bottom"><strong class="clr-blue">Creative. Delightful & On-Time Food Catering
              Services</strong></p>
          <p appScrollEnterance anim="from-bottom">Caterdaay is all about getting foods in hand without any hassle. From
            delicious
            food items to the wedding, parties catering, we offer a variety of food delivering services that reach right
            from the kitchen of masterchef</p>
        </div>
      </div>
      <div class="row mb-5 work-slider">
        <div class="work-slide">
          <div class="row service serv-1" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Catering</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="#">Login</a>
            </div>
          </div>
        </div>
        <div class="work-slide">
          <div class="row service serv-2" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Driver</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="#">Login</a>
            </div>
          </div>
        </div>
        <div class="work-slide">
          <div class="row service serv-3" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Waiter</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="#">Login</a>
            </div>
          </div>
        </div>
        <div class="work-slide">
          <div class="row service serv-4" appScrollEnterance anim="from-bottom">
            <div class="col-12">
              <h4>Event Management</h4>
              <p>This is dummy copy. It is not meant to be read. It has been placed here solely</p>
              <a href="#">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>
<app-footer></app-footer>