<app-signup></app-signup>
<app-header></app-header>
<section class="titlebar title-cont">
	<div class="container">
		<div class="row text-center">
			<h1>Contact Us</h1>
		</div>
	</div>
</section>

<section class="pt-5 mt-5 pb-5 mb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-12">
				<h3 class="head">Contact Us</h3>
				<p>Send us your feedback by filling out the form below.</p>
				<div class="form-box">
					<div class="row">
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" name="name-cont" id="name-cont" class="form-control" placeholder="Name">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="email" name="email-cont" id="email-cont" class="form-control" placeholder="Email*">
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="text" name="phone-cont" id="phone-cont" class="form-control" placeholder="Phone*">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="msg-cont" id="msg-cont" placeholder="Enter your feedback here" class="form-control"></textarea>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group">
								<input type="submit" name="btn-cont" id="btn-cont" class="btn btn-form" value="Submit">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-testimonials></app-testimonials>
<app-onboarding></app-onboarding>
<app-footer2></app-footer2>

