<app-innerheader></app-innerheader>
<div id="main">
  <section class="single-search-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Hooter Restaurant Bar</h1>
          <ul class="header-detail-list">
            <li>St 23, Lane 4, XYZ Road, Dallas, TX.</li>
            <li><a href="tel:0000000000">000-0000-000</a></li>
            <li>
              <div class="row">
                <div class="star-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <div class="rating">
                  <span>(4.5)</span>
                  <span><a href="#">247 Reviews</a></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-12 search-slider">
          <div class="search-slide">
            <img src="assets/images/hooter-full.jpg">
          </div>
          <div class="search-slide">
            <img src="assets/images/hooter-full.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="filters">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form action="" method="" class="form-inline">
            <label>Order</label>
            <select class="custom-select">
              <option selected>Delivery</option>
            </select>
            <label>Delivery Address</label>
            <select class="custom-select">
              <option selected>Dallas, TX</option>
            </select>
            <label>When</label>
            <input type="date" name="" placeholder="Add event Date">
            <label>Serving</label>
            <select class="custom-select">
              <option selected>Total Head Count</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="inner-cater-search">
    <div class="container">
      <div class="row search-cat-head align-items-center	">
        <div class="col-md-4">
          <h3>Catering Menu</h3>
        </div>
        <div class="col-md-8 text-right">
          <a href="#" class="search-tags">Lunches</a>
          <a href="#" class="search-tags">Entrees</a>
          <a href="#" class="search-tags">Sides</a>
          <a href="#" class="search-tags">Deserts</a>
          <a href="#" class="search-tags">Beverages</a>
        </div>
      </div>

      <!-- ROW WITH SIDEBAR -->
      <div class="row">
        <div class="col-md-9">
          <!-- DELIVERY BUFFET ROW -->
          <div class="row search-menu">
            <div class="col-12">
              <div class="row">
                <h3>Delivery Buffet</h3>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/bbq.jpg" alt=""></a>
                    <div class="most-ord">Most Ordered</div>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Barbecue Buffet</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/bbq-2.jpg" alt=""></a>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Barbecue Buffet</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/bbq-3.jpg" alt=""></a>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Barbecue Buffet</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- BOX LUNCHES -->
          <div class="row search-menu">
            <div class="col-12">
              <div class="row">
                <h3>Box Lunches</h3>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/box-lunch-1.jpg" alt=""></a>
                    <div class="most-ord">Most Ordered</div>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Deluxe Box Lunch</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/box-lunch-2.jpg" alt=""></a>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Standard Box Lunch</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/box-lunch-3.jpg" alt=""></a>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Sandwich</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/box-lunch-4.jpg" alt=""></a>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Pizza Standard</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- HOT ENTREES ROW -->
          <div class="row search-menu">
            <div class="col-12">
              <div class="row">
                <h3>Hot Entrees</h3>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/hot-1.jpg" alt=""></a>
                    <div class="most-ord">Most Ordered</div>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Large Barbecue Platter</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/hot-2.jpg" alt=""></a>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Standard Chicken Platter</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- SALAD ROW -->
          <div class="row search-menu">
            <div class="col-12">
              <div class="row">
                <h3>Salad</h3>
              </div>
            </div>
            <div class="col-md-6 menu-item">
              <div class="menu-item-inner">
                <div class="row">
                  <figure>
                    <a href="#"><img src="assets/images/salad.jpg" alt=""></a>
                    <div class="most-ord">Most Ordered</div>
                  </figure>
                </div>
                <div class="menu-item-desc">
                  <div class="row">
                    <a href="#">
                      <h4>Large Barbecue Platter</h4>
                    </a>
                    <p>Includes your choices of 2 meats and 3 sides with rolls and condiments. Add drinks and perhaps
                      dessert, and you're all set.</p>
                    <h5 class="price">$11.20</h5>
                  </div>
                  <div class="row item-desc-footer align-items-center">
                    <p>person, minimum 10 people</p>
                    <a href="#"><i class="fa fa-heart-o"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- SIDEBAR -->
        <div class="col-md-3 right-sidebar">
          <div class="search-cart">
            <a href="#"><i class="fa fa-shopping-cart"></i> View Cart</a>
          </div>
          <div class="search-supp">
            <h4>Need Help?</h4>
            <a href="#" class="supp"><i class="fa fa-headphones"></i>Chat with support team</a>
            <a href="tel:000000000" class="supp"><i class="fa fa-phone"></i>000-0000-000</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="rev-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="row mb-4">
            <div class="col-12">
              <h4 class="rev-head">Reviews</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="rev-list">
                <li>
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>John Doe</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Jan-25-2019</p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            (4.0)
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>John Doe</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Jan-25-2019</p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            (4.0)
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>John Doe</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Jan-25-2019</p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            (4.0)
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>John Doe</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Jan-25-2019</p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            (4.0)
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>John Doe</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Jan-25-2019</p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            (4.0)
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <figure>
                    <img src="assets/images/avatar.png" alt="">
                  </figure>
                  <div class="rev-desc">
                    <div class="row rev-meta-row">
                      <div class="col-12">
                        <div class="rev-meta">
                          <h5>John Doe</h5>
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Jan-25-2019</p>
                        </div>
                        <div class="rev-rating">
                          <div class="rev-stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                          </div>
                          <div class="rev-rate">
                            (4.0)
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                          been the industry's standard dummy text ever since the 1500s.</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a href="#" class="load-more"> LOAD MORE <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                <span>(340 Reviews)</span></a>
            </div>
          </div>
        </div>
        <div class="col-md-5 cat-det">
          <div class="row mb-4">
            <div class="col-12">
              <h4 class="rev-head">About Restaurant</h4>
              <h4 class="rev-head">Location</h4>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-12">
              <h5>Hooter Restaurant & Bar</h5>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul>
                <li><strong>Address:</strong> Lorem ipsum is simply dummy text of the printing</li>
                <li><strong>Phone:</strong> 000-0000-000</li>
                <li><strong>Email:</strong> abc@yourdomain.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cta">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h3 class="heading clr-white">Now Available</h3>
          <h4 class="head-sm clr-white">Download our CaterDaay App Today</h4>
        </div>
        <div class="col-md-6 text-right">
          <a href="#"><img src="assets/images/apple.png" alt=""></a>
          <a href="#"><img src="assets/images/google.png" alt=""></a>
        </div>
      </div>
    </div>
  </section>



</div>
<app-inner-footer></app-inner-footer>